name: Security Scan

on:
  schedule:
    - cron: '0 3 * * 0' # weekly on Sunday
  workflow_dispatch:

jobs:
  codeql-analysis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: python
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@0.12.0
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 1
          scan-ref: .